@{
    ViewData["Title"] = "AFD (6)";
}

<h1 class="display-4">AFD Details</h1>

<ul>
    <li>Host: @ViewData["HostName"]</li>
    <li>Request Method: @ViewData["Method"]</li>
    <li>Request Scheme: @ViewData["Scheme"]</li>
    <li>Request Path: @ViewData["Path"]</li>
    <li>Request Remote IP: @ViewData["RemoteIp"]</li>
    <li>Allowed Front-End Hosts: @ViewData["AllowedFrontEndHosts"]</li>
</ul>

<p>Contexts</p>

@{
    var contextCache = (IList<WTW.CET.AFD.WebApp.Interfaces.HttpContextCacheEntry>)ViewData["OriginalContexts"];
    if (contextCache.Count > 0)
    {
        <table class="table">
            <thead>
                <tr><th>Host</th><th>Path</th></tr>
            </thead>
            <tbody>
                @foreach (var ctx in contextCache)
                {
                    <tr>
                        <td>@ctx.Host</td>
                        <td>@ctx.Path</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

<table class="table">
    <thead>
        <tr><th>Key</th><th>Value</th></tr>
    </thead>
    <tbody>
        @foreach (var (key, value) in (Dictionary<string, string>)ViewData["Headers"])
        {
            <tr>
                <td>@key</td>
                <td>@value</td>
            </tr>
        }
    </tbody>
</table>
